[2015-06-25 12:08] martypowell opened #1 "NavList font size different on different pages"
Font size is not consistent on all pages, even if they are using the same template.

***Examples***
* https://staging.baltimorecountymd.gov/homepageredesign/
* http://staging.baltimorecountymd.gov/homepageredesign/imlooking/index.html#all

[2015-06-25 12:13] martypowell opened #2 "Page Rating Form not styled propertly"
http://staging.baltimorecountymd.gov/homepageredesign/imlooking/index.html#all

![image](https://cloud.githubusercontent.com/assets/1933400/8353977/16f5cb50-1b12-11e5-8df3-5030101859ff.png)

[2015-06-25 12:14] martypowell commented on #2
Also bad on this page
http://staging.baltimorecountymd.gov/homepageredesign/iwant/index.html

[2015-06-25 12:35] martypowell opened #3 "Table column width wrong for "I Need to Contact Pages""
The width is currently 15% and it should be 30% to add up to 100% of the table.

Width is being set in http://staging.baltimorecountymd.gov/sebin/f/h/i-need-to-contact.js.

[2015-06-25 12:43] martypowell opened #4 "BlogTab Active First Item No Border"
First Item should have a border top and the last item should have a border-bottom.

![image](https://cloud.githubusercontent.com/assets/1933400/8354448/41cb832a-1b16-11e5-9608-9debaaaea929.png)

[2015-06-25 14:48] danfox01 opened #5 "Snowfighter Most Requested font too large"
http://staging.baltimorecountymd.gov/homepageredesign/Agencies/publicworks/SnowFighter/index.html

![image](https://cloud.githubusercontent.com/assets/13049389/8357198/a1214902-1b27-11e5-899f-915b9b750ec0.png)

[2015-06-25 14:51] martypowell commented on #5
Duplicate of #1

[2015-06-25 14:59] #4 closed

[2015-06-25 15:26] #2 closed

[2015-06-25 16:32] danfox01 opened #6 "Search autocomplete (iframe) appears behind body content on many pages"
Example:
http://staging.baltimorecountymd.gov/homepageredesign/Agencies/aging/commission.html

[2015-06-25 16:37] danfox01 opened #7 "Heading sizes are small on new template than old ones (mobile)"
H1's and H2's should be larger -- easier to scan.

Example: http://staging.baltimorecountymd.gov/homepageredesign/Agencies/health/petadoption/index.html
vs.
http://www.baltimorecountymd.gov/Agencies/health/petadoption/index.html?semobipref=true

I'd like to get sam's input on sizes as well.

[2015-06-25 17:16] martypowell commented on #7
Dan, the h1's are identical sizes on each page?  Are you seeing something different?

[2015-06-25 17:19] sdurphy commented on #7
Dan are you wearing the wrong contacts again?

[2015-06-25 17:22] danfox01 commented on #7
Sam, remember when you kept saying the homepage images were blurry and no one believed you? Let me grab some screens...

[2015-06-25 17:24] sdurphy commented on #7
Oh wait... I just looked again. Looks like the h2's and h3's are too small

[2015-06-25 17:28] #6 closed

[2015-06-25 17:32] danfox01 commented on #7
New template:

![image](https://cloud.githubusercontent.com/assets/13049389/8360987/54ed4ca4-1b3e-11e5-8fc8-1b15be4f2862.png)

Old template:

![image](https://cloud.githubusercontent.com/assets/13049389/8361019/8706f0f0-1b3e-11e5-8bed-ccdd31db2efe.png)

[2015-06-25 17:54] sdurphy commented on #7
Hey Marty,

Heading sizes should be as follows:

h1 {font-size:1.8em;}
h2 {font-size:1.3em;}
h3 {font-size:1.1em;}
h4 {font-size: 1em;}
h5 {font-size: .9em;}
h6 {font-size: .7em;}

[2015-06-25 18:00] martypowell commented on #7
Changes made, can you please confirm? http://staging.baltimorecountymd.gov/homepageredesign/Agencies/health/petadoption/index.html

[2015-06-25 18:14] #3 closed

[2015-06-25 18:19] #7 closed

[2015-06-25 18:25] martypowell opened #8 "Related Topics floating above main topic"
http://staging.baltimorecountymd.gov/homepageredesign/Agencies/aging/index-responsive.html

![image](https://cloud.githubusercontent.com/assets/1933400/8362300/ffe7e86a-1b45-11e5-9101-c60ca256a6f0.png)

[2015-06-25 18:28] #8 closed

[2015-06-25 18:47] martypowell commented on #1
Can one of you two verify this now?

[2015-06-25 19:06] danfox01 opened #9 "Promoter/image caption should be below image in responsive"
Noticed this in the CHART module for snowfighter. Not sure where else it might happen.

![image](https://cloud.githubusercontent.com/assets/13049389/8363230/9d081534-1b4b-11e5-8b75-6a472ec58f5f.png)

[2015-06-25 19:07] sdurphy commented on #1
the first link is broken... do you want us to compare to the homepage?

[2015-06-25 19:12] martypowell commented on #1
The first page may be broken, but it showed the behavior of the navList being different sizes.

[2015-06-25 19:13] martypowell commented on #9
Link?  mobile or desktop?

[2015-06-25 19:15] danfox01 commented on #9
Sorry, mobile size: http://staging.baltimorecountymd.gov/homepageredesign/Agencies/publicworks/SnowFighter/index.html/

[2015-06-25 19:25] #9 closed

[2015-06-26 14:07] martypowell commented on #1
Confirmed

[2015-06-26 14:08] martypowell commented on #5
Fixed in issue #1

[2015-06-26 14:08] #5 closed

[2015-06-26 15:24] martypowell commented on #1
Evident on this page http://staging.baltimorecountymd.gov/homepageredesign/Agencies/publicworks/SnowFighter/Snow%20Removal/snowremoval.html

[2015-06-26 15:45] martypowell commented on #1
Issue ending up being with the template and not the code.

[2015-06-26 15:45] #1 closed

[2015-06-26 15:48] sdurphy commented on #1
Is there a reason why the In This Section navigation disappears at mobile size?

[2015-06-26 15:55] martypowell opened #10 "In this section hidden on mobile devices"
This list should show up on all screen sizes.

[2015-06-26 16:27] danfox01 opened #11 "I Want To Apply content in table doesn't fill width of content area"
http://staging.baltimorecountymd.gov/homepageredesign/iwant/apply.html

Compare to current site:
http://www.baltimorecountymd.gov/iwant/apply.html

[2015-06-26 16:28] danfox01 commented on #11
On desktop, btw...

[2015-06-26 17:31] #11 closed

[2015-06-26 17:46] martypowell commented on #10
Removed hidden classes from the in this section menu from the templates.

[2015-06-26 17:46] #10 closed

[2015-06-26 17:48] danfox01 opened #12 "Water Sampling Tables"
We figured these would be a problem. And they are. Pretty much incomprehensible at phone size because they have so many fields. Any thoughts on how to solve this?

New:
http://staging.baltimorecountymd.gov/homepageredesign/Agencies/health/environmentalhealth/watersampling/samplingresults/gunpowder.html

Old:
http://www.baltimorecountymd.gov/Agencies/health/environmentalhealth/watersampling/samplin

[2015-06-29 12:40] martypowell commented on #12
[Here](http://codepen.io/martypowell/pen/yNpEOO?editors=001) is a JavaScript solution to the problem.  We would need to include this script on each page that contains a table and apply the script and a certain screen size (TBD).

Right labels and data are structured like, ``<p>label-value</p>``.  This can easily be changed, just wanted to get something up quick.

[2015-06-29 15:47] danfox01 opened #13 "Calendar display issues on iOS"
Calendar responds well at all sizes on a desktop browser, but not on a phone.

http://staging.baltimorecountymd.gov/homepageredesign/Meetingsandevents/Countywide

On a phone:
![image](https://cloud.githubusercontent.com/assets/13049389/8411907/6a616188-1e54-11e5-8946-e3cd4d721bcf.png)

[2015-07-07 19:04] #13 closed

[2017-01-10 21:44] mxsnyder commented on #12
@danfox01 is this still an issue?

[2017-01-10 22:02] danfox01 commented on #12
@mxsnyder I don't think so. I actually forgot about this particular issue, but it is closely related to the email I sent you last week about large table formatting in general.

Something to look into...

[2017-01-11 14:05] mxsnyder commented on #12
So this is actually a feature request and not a bug? :) I'll add a "nifty tables" feature to VSTS, with stories for making them responsive and sortable by column.

[2017-01-11 14:08] mxsnyder commented on #12
Added the [feature](https://baltimore-county-mxsnyder.visualstudio.com/baltimorecountymd-gov/_workitems?id=125&_a=edit) to VSTS. Closing out.

[2017-01-11 14:08] #12 closed

[2017-01-13 12:44] martypowell opened #16 "Breadcrumb Color default browser color on non visited link"
![image](https://cloud.githubusercontent.com/assets/1933400/21930356/b0a0b218-d963-11e6-9366-db331f986ce9.png)

In [red-inside.css](http://www.baltimorecountymd.gov/sebin/l/v/red-inside.css)  #baco_breadcrumb needs to have the color set to #002280;

[2017-01-13 14:33] mxsnyder commented on #16
@sdurphy will you take care of this since red-inside.css doesn't live in Github yet?

[2017-01-20 21:23] mxsnyder commented on #16
@sdurphy has addressed.
@martypowell will you verify this is fixed in production and close out the issue? Thanks!

[2017-02-21 13:10] martypowell commented on #16
Sorry, did not see this, verified

[2017-02-21 13:10] #16 closed

[2017-03-13 18:22] martypowell opened #18 "Style Guide Focused Link Issue"
Focus links turn white.

rule that is failing: footer a, a:focus, a:hover

[2017-03-28 18:23] martypowell opened #19 "Walking Trails Filter Layout Issue"
Width of filter does not match the map.

![image](https://cloud.githubusercontent.com/assets/1933400/24420827/2aa80b7c-13c2-11e7-908a-72a50b4bfb65.png)

[2017-03-31 00:26] danfox01 opened #20 "Table Columns Widths Change When Filtering"
**Steps to replicate:**

1. Visit [http://www.baltimorecountymd.gov/iwant/apply.html](http://www.baltimorecountymd.gov/iwant/apply.html)
2. Enter "volunteer" in the filter to observe column width change as you type

**Expected behavior:**

Column width should remain unchanged when filtering.

[2017-04-04 13:14] danfox01 opened #21 "Severe Weather Filter Input Width"
http://www.baltimorecountymd.gov/News/weather/index.html

Table filter tool input doesn't span the width of the table. We might just remove the filter entirely -- I'm not sure it's necessary on this page.

[2017-04-25 12:59] danfox01 opened #22 "Site search autocomplete text too large on sub-pages"
Compare autocomplete text size on homepage (http://www.baltimorecountymd.gov) to a subpage ex: (http://www.baltimorecountymd.gov/Agencies/health/animalservices/index.html).

Subpage text size should match home page.

[2017-04-25 15:51] martypowell commented on #22
@danfox01 Fix can be found here, http://dev.baltimorecountymd.gov/Agencies/budfin/911center/index.html

[2017-04-25 16:51] martypowell commented on #22
@danfox01 I actually think removing the filter is a pretty good idea. The list is very short, and unless it grows quite a bit its easily visible on desktop and doesn't require much scrolling on mobile. If this in fact is the approach then we would want someone on your team to update that page?

[2017-04-25 16:52] martypowell commented on #21
@danfox01 I actually think removing the filter is a pretty good idea. The list is very short, and unless it grows quite a bit its easily visible on desktop and doesn't require much scrolling on mobile. If this in fact is the approach then we would want someone on your team to update that page?

[2017-04-25 17:08] danfox01 commented on #21
@martypowell Yup, let's just remove the filter. However, I don't see and markup for it on the page. Can you use your developer magic to figure out how it's being rendered and remove it?

[2017-04-25 17:10] danfox01 commented on #22
Confirmed.

[2017-04-25 18:01] #21 closed

[2017-04-25 18:04] martypowell commented on #21
Resolved with https://github.com/baltimorecounty/baltimorecountymd.gov-assets/commit/a8ae7abe9ce6ff16c8abdb0246298d2a82b84529

[2017-04-25 18:08] martypowell commented on #18
This no longer appears to be an issue. It must have been resolved and am not sure what change would have fixed it.

[2017-04-25 18:08] #18 closed

[2017-04-26 14:30] martypowell commented on #20
The solution to this problem for tables is to set the table 'table-layout' to 'fixed'. Then the team must go into the specific page that includes the tables and adjust the percentage width of column headers in which they want to change. This change will come in the Content Filter Update

[2017-04-26 15:27] #19 closed

[2017-04-26 15:53] martypowell commented on #22
@danfox01 Fix will go live on the next full release.

[2017-04-26 17:50] martypowell opened #24 "Javascript Error Thrown on Fastrack Pages"
Two references to jquery on these pages cause a conflict and it is not handled properly.

http://www.baltimorecountymd.gov/Contact/webmaster?issueid=42

[2017-04-26 18:02] martypowell commented on #24
@danfox01  fyi. Fixed issue by wrapping the red inside template html snippet for back to top link and the advanced form advanced snippet in an iife to prevent the conflict in jquery libraries.

[2017-04-26 18:02] #24 closed

[2017-04-27 00:13] danfox01 opened #25 "Daily Docket Table Doesn't Scroll Horizontally on Small Screens"
To replicate:
1. View the Daily Docket at phone size: http://www.baltimorecountymd.gov/Agencies/circuit/dailydocket/index.html
2. Note that table is clipped and not scrollable.
3. Make sadface.

[2017-04-27 11:01] danfox01 commented on #25
Decided to add a temp workaround for this, since this page is heavily viewed on mobile and I didn't want it to appear broken on release day.

Added `#BACO_table {display:block !important;}` to the page `<head>` but still needs a permanent fix.

[2017-05-02 12:17] martypowell opened #26 "No Style for Disabled Buttons"
This is the active tax sale. The next button is disabled, but appears to be visible. @danfox01 @sdurphy I would think this is pretty pressing, at least for tax sale.

![image](https://cloud.githubusercontent.com/assets/1933400/25617307/a739c582-2f0f-11e7-852b-5cf2ee28c8de.png)

[2017-05-02 13:03] martypowell opened #27 "Tax form not toggling individual / business fields based on user input."
Regardless if you select individual or corporation you get all form fields. You should only see form fields associated with that selection. Individual form inputs start at first name. Fields above first name belong to corporation. Regardless of your choice, email should always show.

![image](https://cloud.githubusercontent.com/assets/1933400/25618750/249c8e82-2f16-11e7-9e04-9958ffac5788.png)

[2017-05-02 13:03] #27 closed

[2017-05-08 14:39] mxsnyder opened #28 "Homepage scrolls horizontally in IE11"
The homepage scrolls horizontally in IE11. I've narrowed it down to the search box being the issue, and the snippet below shows the change I made in the inspector that seemed to make the problem go away.

[code]

[2017-05-10 18:19] martypowell commented on #28
@danfox01 very strange, but the current homepage css is not consistent with our master branch, which is causing the issue. @mxsnyder actually fixed this in this [commit](https://github.com/baltimorecounty/baltimorecountymd.gov-assets/commit/1845ae59a83b1bac54f4d9c848160c6efac45d40#diff-a118afc8c727f1d68ec0368156566064).

Development has been updated with the current master version of the homepage

[2017-05-10 19:13] sdurphy commented on #26
This is the CSS to make the text gray for disabled buttons:
input[disabled] {
    color: #999;
}

[2017-05-10 19:20] mxsnyder commented on #26
That will change every disabled input element. If you just want to target buttons, you have to target:
[code]

[2017-05-10 19:40] martypowell commented on #26
thanks @mxsnyder, was planning on updating that

[2017-05-15 12:12] martypowell opened #35 "Padding Issue, Secondary Navigation in the Styleguide"
http://www.baltimorecountymd.gov/styleguide/design/navigation.html

![image](https://cloud.githubusercontent.com/assets/1933400/26057118/270b390e-3946-11e7-9ae0-c919ea4fba01.png)

[2017-05-15 14:32] #25 closed

[2017-05-15 17:32] martypowell commented on #26
Fixed by #33

[2017-05-15 17:32] #26 closed

[2017-05-15 17:34] martypowell commented on #28
Fixed in #31

[2017-05-15 17:34] #28 closed

[2017-05-15 17:36] #22 closed

[2017-05-16 12:18] martypowell opened #37 "Update Content Filter"
Improve the Usability of the Clear Button
- Remove “Clear” button from the right of the search input.
- Add magnifying glass icon to indicate search/filter behavior.
- When user begins typing, render an X icon to indicate clear.
- Selecting X resets filter and deletes any text that had been entered in the text input.

[2017-05-16 14:46] #37 closed

[2017-05-18 13:45] danfox01 commented on #20
@martypowell: @sdurphy wants to test this on a few tables in DEV before moving forward, He'll let us know if this is cool.

[2017-05-19 19:58] sdurphy commented on #20
I want to test this after the pushdown of prod to dev (May 23) is complete. The dev version of the filter does not work.

[2017-05-22 13:14] mxsnyder opened #40 "Daily docket | time sorting is inaccurate"
For all browsers, the time sorting is inaccurate for the Daily Docket.

[2017-05-22 13:14] mxsnyder opened #41 "Daily docket | IE lags when you sort"
IE lags when you sort the table for the Daily Docket.

[2017-05-24 12:27] mxsnyder opened #42 "BaltCoGo reporter UI automation"

[2017-05-24 14:55] danfox01 opened #43 "Convert "I Want To Contact" from XML to HTML"
The "[I Want to Contact](http://www.baltimorecountymd.gov/iwant/contact.html)" page is currently populated via XML and contains an older version of the filtering script. I'd like to update the page in the following way:

- Content should be HTML, and editable directly in SE.
- Table filter should be the new version from in the [1.1 update](https://github.com/baltimorecounty/baltimorecountymd.gov-a

[2017-05-24 15:19] sdurphy opened #44 "Feeds Formatted in Eastern Standard Time don't Display correctly on Homepage"
If the publish date times for the Baltimore County Now RSS are converted to EST (Eastern Standard time), the text, "undefined" shows up in the area where the date should display on the homepage.

The feed in development has been converted to Eastern Standard Time and the error on the homepage can be observed here: http://dev.baltimorecountymd.gov/

We would like to change the publish date time zon

[2017-05-24 22:08] sdurphy commented on #44
Closing this issue. Thanks for resolving Jeffrey.

[2017-05-25 13:11] martypowell commented on #44
Code did not get implemented

[2017-05-25 13:17] martypowell opened #47 "Create shared-template JavaScript"
Refactor code to add an additional template javascript file with shared functionality between the homepage and inside templates.

name: template-shared.js

[2017-05-25 13:24] martypowell opened #48 "Move Existing Test Plans from Github to TFS"

[2017-05-25 13:25] danfox01 opened #49 "Content Filter Icon Issue in Chrome"
Following 1.5.2 update, it's possible to make the magnifying glass and X icon appear simultaneously in the content filter input, in Chrome.

To replicate, begin typing [in the input](http://www.baltimorecountymd.gov/iwant/apply.html) then use backspace to quickly clear the text. Does not occur every time. Screen attached.

![fireshot capture 011 - baltimore county - i wan_ - http___www baltimoreco

[2017-05-25 15:57] #49 closed

[2017-06-05 16:34] danfox01 opened #53 "Update Animal Services Spay/Neuter Calculator with new URLs"
The domain for our spay/neuter scheduling vendor (ClinicHQ) is changing from .org to .com. All links to online scheduling must be updated to reflect this.

Scheduling links included in the [Animal Services Spay/Neuter Calculator](http://www.baltimorecountymd.gov/Agencies/health/animalservices/spayneuter.html) need to point to these new locations for each clinic:

Southwest Area Park: https://clini

[2017-06-06 12:07] martypowell opened #54 "Add Rescued Pets Page"
1. Update the Animal Services Web Service to include Rescued Pets (depends on accela)
1. Copy existing lost pets page, and modify to use new rescued pets service method
1. Update content (web services)
1. Add age and remove Pet Tracking Heading from the Rescued Pets template

[2017-06-06 12:46] danfox01 commented on #54
@martypowell, do you want me to document the other changes to the feeds (i.e., adding age, remove Pet Tracking H3) as a a separate issue, or include here?

[2017-06-06 13:14] martypowell commented on #54
@danfox01 added above

[2017-06-06 13:20] danfox01 commented on #54
Thanks @martypowell . Just to clarify, the pet age/heading change should be applied to all templates, including the existing lost and adoptable pets.

[2017-06-08 19:22] mxsnyder opened #55 "Fancy checkboxes and radios aren't keyboard navigable"
Try /Agencies/aging/initiative/pledge.html

[2017-06-13 18:27] danfox01 commented on #53
@mxsnyder and @martypowell -- Can we please push this out as a hotfix sometime this week? The vendor gave us until the end of this week to update our site. It's unclear if the old URLs will stop working entirely at that time, but I'd rather not find out. Thanks!

[2017-06-13 18:56] martypowell commented on #53
@mxsnyder @danfox01 i can update this real quick.

[2017-06-14 12:37] #53 closed

[2017-06-23 12:53] danfox01 opened #61 "Filter Icons Not Rendering in v1.5.4"
This may be the same issue that Mike experienced in Dev earlier this week but I thought it had been resolved.

The search and clear icons are not rendering as expected in search boxes. Example:
https://www.baltimorecountymd.gov/Agencies/circuit/dailydocket/

[2017-06-23 13:18] mxsnyder commented on #61
I'm sure it is -- the icons just need to be re-added to the inclusion. I'll take care of it.

[2017-06-23 13:20] mxsnyder commented on #61
This is due to the icons not being in the inclusion. I'll re-add them in production.

On Jun 23, 2017, at 8:53 AM, danfox01 <notifications@github.com<mailto:notifications@github.com>> wrote:

This may be the same issue that Mike experienced in Dev earlier this week but I thought it had been resolved.

The search and clear icons are not rendering as expected in search boxes. Example:
https://www.ba

[2017-06-23 13:22] mxsnyder commented on #61
They're back! Feel free to close out.

https://www.baltimorecountymd.gov/Agencies/circuit/dailydocket/

[2017-06-29 18:49] mxsnyder opened #63 "Show/hide severe warning callouts."

[2017-07-05 15:31] martypowell commented on #41
Can find this here, https://www.baltimorecountymd.gov/Agencies/circuit/dailydocket/

[2017-07-06 13:02] martypowell commented on #41
@danfox0 @mxsnyder , we ran some tests in various versions of IE, and results were inconclusive.

Since there are over 200 rows at the time of testing and the filter is filtering on the dom, the user might experience some lag in older versions of IE.

For this particular problem, we could use something like react to filter the data as opposed to the dom in an attempt to remove the lag, but this wo

[2017-07-06 13:13] mxsnyder commented on #41
I'm confused - this bug is about sorting, but you're talking about filtering. Does the lag exist in both cases?

[2017-07-06 13:15] martypowell commented on #41
@danfox01 @mxsnyder complete misunderstanding on my part...what are the steps to recreate this?

[2017-07-06 13:16] mxsnyder commented on #41
As far as I can tell, click a column header to sort. Since the sorting detatches, sorts, and then appends, this isn't a live DOM sort, which is good, but if there's a lag, what if we detatch, show "loading...", and then append?

[2017-07-06 13:23] danfox01 commented on #41
The title of this bug says sort, but filtering is actually the primary problem. Sorry for the confusion. The sorting lags slightly in IE too, but it's not terrible. The lag is most noticeable when typing a key word and it takes a moment for the characters to display in the input. It's just long enough of a delay that it seems like something is broken before what you've typed pops in.

If it's not

[2017-07-10 18:56] martypowell opened #67 "Move Homepage Layout CSS to it's own file"
http://staging.baltimorecountymd.gov/animal-services-redesign/index.html

found in the properties of the page.

[2017-07-14 11:39] martypowell opened #70 "Hamburger Menu Does not Work during releases"
More information to follow.

[2017-07-14 12:57] danfox01 opened #71 "Accordion Nav: Add Highlighting to Top-Level Items With No Children"
The accordion navigation currently used in [Econ Dev](http://www.baltimorecountymd.gov/Agencies/economicdev/index.html) and [Animal Services](http://www.baltimorecountymd.gov/Agencies/animalservices/index.html) highlights the user's current location in gold. However, this only seems to work for links that are list items. If a link has no children, it's just included at the of the nav an <a> elemen

[2017-07-14 17:30] martypowell commented on #67
This was addressed in release https://github.com/baltimorecounty/baltimorecountymd.gov-assets/releases/tag/v1.6

[2017-07-14 17:30] #67 closed

[2017-07-17 12:53] mxsnyder commented on #71
This should be a change to `/js/accordion-menu.js` since these pages are all using the "new" accordion.

[2017-07-18 13:26] martypowell opened #76 "Removal of red-inside css"
These styles need to be consolidated into the sass project

[2017-07-24 12:01] martypowell commented on #47
This was addressed in #72

[2017-07-24 12:01] #47 closed

[2017-07-24 12:02] martypowell opened #83 "Remove "Pet Tracking Information" from Pet Templates"
On the following pages:

* http://www.baltimorecountymd.gov/Agencies/animalservices/adoption.html
* http://www.baltimorecountymd.gov/Agencies/animalservices/adoption.html

![image](https://user-images.githubusercontent.com/1933400/28522557-7211f4ec-7046-11e7-9e7f-a79ff05e517e.png)

[2017-07-24 12:03] martypowell commented on #83
Will be fixed when #82 is closed.

[2017-07-24 12:36] martypowell opened #84 "Bad spacing in the footer on mobile devices."
![image](https://user-images.githubusercontent.com/1933400/28523578-1d32ffac-704b-11e7-8aa6-6d108face02b.png)

[2017-07-24 12:39] martypowell opened #85 "Move Pet Image above Details Mobile for Pet Pages"
The generic pet template should move the animals image above the details on a mobile device.

[2017-07-25 00:11] #85 closed

[2017-08-09 12:56] martypowell opened #96 "Check to see if #url element exists on the page"
Happens in dev somewhere in a template. It is also present in production but the page rating form prevents it from throwing an error.

[code]

needs to change to
[code]

[2017-08-22 20:07] danfox01 commented on #83
@martypowell, this went live in the last BCAS update, correct?

[2017-08-22 20:08] #63 closed

[2017-08-22 20:09] #54 closed

[2017-08-23 11:59] martypowell commented on #83
@danfox01 yes, this is done.

[2017-08-23 11:59] #83 closed

[2017-08-24 18:38] mxsnyder commented on #71
Going live in 1.7

[2017-08-24 18:51] #96 closed

[2017-08-24 19:51] danfox01 opened #105 "1.7 Release: Accordion Menu Carets Don't Rotate"
You can see this in dev currently -- prod is not affected until tonight's release: http://www.baltimorecountymd.gov/Agencies/animalservices/index.html.

Red carets to the right of accordion menus don't rotate when expended. Related to the top-level highlighting change in this release? Not a showstopper in the least.

[2017-08-25 11:36] martypowell commented on #105
@danfox01 confirmed, i will try to get to this 8/28

[2017-09-05 13:52] mxsnyder opened #107 "Updates for HTTPS conversion"
coplogic
* Example: https://dev.baltimorecountymd.gov/agencies/police/onlinereport/lostproperty.html
Need to de-http the script and link tags

https://dev.baltimorecountymd.gov/Agencies/publicworks/roadclosures/index.html
* Need to get arcgis api over https (edit page props)
	- /sebin/t/k/road-closures.js Needs to call our gis endpoints over https
		Resources > js > custom > RoadClosures
	- Needs

[2017-09-05 14:00] mxsnyder opened #108 "BaltCoGo fine tuning"
1. Move latitude and longitude to CONSTANTS
1. Add correct description ID to website category

[2017-09-05 16:55] mxsnyder commented on #107
To-do for HTTPS:

* Deploy JS from the https-fixes branch to:

		Resources > js > custom > RoadClosures > road-closures.js
		Resources > js > custom > RoadClosures > no-closure.js
		Resources > js > custom > WalkingTrails > trails.js

* Fix <script> and &lt;link> tags on:

		/Agencies/police/onlinereport/lostproperty.html
		/Agencies/police/onlinereport/abandoned.html
		/Agencies/police/onlinerepo

[2017-09-05 17:06] mxsnyder commented on #108
To-do for BaltCoGo:

* Release `baltcogo-reporter.min.js` to `Resources > js > page specific > baltcogo`
* Release and version `templateinside.min.js` to `Resources > js`

[2017-09-08 14:21] mxsnyder commented on #107
**Completed:**
Resources > js > custom > RoadClosures > road-closures.js
Resources > js > custom > RoadClosures > no-closure.js
Resources > js > custom > WalkingTrails > trails.js

[2017-09-08 16:03] mxsnyder commented on #107
**Completed:**
 /Agencies/police/onlinereport/lostproperty.html
  /Agencies/police/onlinereport/abandoned.html
  /Agencies/police/onlinereport/hitrun.html
  /Agencies/police/onlinereport/destructionofproperty.html
  /Agencies/police/onlinereport/theft.html
  /shoplifting

[2017-09-08 16:03] mxsnyder commented on #107
All known changes are complete.

[2017-09-08 16:03] #107 closed

[2017-09-11 20:19] #71 closed

[2017-09-18 13:36] mxsnyder commented on #108
This was released 9/10.

[2017-09-18 13:36] #108 closed

[2017-09-18 13:59] danfox01 opened #118 "BaltCoGo: Update Error Message Behavior on "Location" Panel"
**Current behavior:** It's is possible for a user to advance past the Location panel without entering a valid address.

To replicate: Choose any report type and advance to the Location panel. Enter a partial address, such as 400 Washington Avenue and select Next. The user is able to advance to the next panel, but since no address was actually logged, the report will throw and error when submitted.

[2017-09-18 14:04] danfox01 opened #119 "BaltCoGo: Hide "Enter a Location" in progress bar for requests that don't require it"
**Current functionality:** Some request types are designed to skip the location step. When this occurs, the progress bar still shows "Location" as a step event though that panel is hidden, which has caused some confusion to users.

**Expected behavior:** When an issue type is selected that does not require location, the location step should disappear from he progress bar entirely. (See screen shot

[2017-09-18 14:16] danfox01 opened #120 "BaltCoGo: Add Tooltips"
Some fields would benefit from additional information to help users understand them. For example, letting users know that anything entered in the "Description" field could be publicly viewed, or explaining why entering a valid email address is important.

Tooltips should apply globally to all request types. They won't need to change based on which issue is selected.

Still undecided whether tool t

[2017-09-18 14:26] danfox01 opened #121 "BaltCoGo: Convert Common Phone Formats Automatically"
In the "Phone" field, Citysourced requires numbers in XXX-XXX-XXXX format. The app should accept other common phone formats and convert them into the required format upon submission.

Common formats are:
- 1234567890
- (123)4567890
- (123)456-7890
- 123.456.7890

Anything other than these formats should still trigger the phone field error message.

I believe @martypowell was working on this a whil

[2017-09-19 11:47] martypowell commented on #121
@danfox01 I remember doing this, I'll have to take a look and figure out where I put that logic.

[2017-09-20 17:09] martypowell commented on #121
#122

[2017-09-20 17:10] martypowell commented on #120
@danfox01 are we using tooltips anywhere else on the site? (i think maybe on the coplogic pages, but that is very old)

[2017-09-20 18:03] danfox01 commented on #120
@martypowell, you're right about coplogic. I don't think we're using tool tips anywhere else at this time.

If you're thinking of tackling this, I'm envisioning something simple with the flexibility to be associated with an fa icon or just a link on the page.

[2017-09-22 15:26] #118 closed

[2017-10-04 12:28] martypowell opened #124 "File a Police Report Questionnaire Label"
@danfox01 The "does my report qualify" section of these pages have "labels" that are not associated to their corresponding radio buttons. This would be an especially important update for mobile devices.

[2017-10-05 14:16] martypowell commented on #119
@danfox01 this is in progress

[2017-10-05 14:16] martypowell commented on #121
@danfox01 this is in progress

[2017-10-05 14:33] martypowell commented on #105
@danfox01 in progress

[2017-10-05 15:26] #84 closed

[2017-10-06 15:29] mxsnyder opened #128 "BaltCoGo: Invalid addresses skip validation checks"
A user can enter an invalid address, and continue to report submission without the address validating.

[2017-10-06 15:29] #128 closed

[2017-10-06 15:29] mxsnyder commented on #128
Created by mistake.

[2017-10-13 17:07] #124 closed

[2017-10-26 15:02] mxsnyder opened #138 "Search: Autocomplete isn't working on mobile devices"

[2017-10-26 15:02] mxsnyder opened #139 "Search: autocomplete suggestions should auto-submit the form when selected"

[2017-10-26 15:41] #138 closed

[2017-10-26 15:41] #139 closed

[2017-10-26 15:42] mxsnyder opened #140 "BaltCoGo: You can click anywhere (outside the county) and proceed after first clicking a valid location"

[2017-11-07 14:51] #140 closed

[2017-11-07 14:52] mxsnyder opened #144 "Homepage alert margins need adjusting"

[2017-11-07 14:52] mxsnyder commented on #144
From Sam:
[code]

[2017-11-14 14:55] mxsnyder commented on #144
Fixed in release v1.9.3.

[2017-11-14 14:55] #144 closed

[2017-11-14 14:57] mxsnyder opened #156 "Search should suggest correct spellings"

[2017-11-21 15:26] martypowell opened #157 "Image Links should be clickable anywhere on the image"
Money, Location, Business Advice, Workforce Solutions Image Links are clickable on the text, but are not when you select above the text. Confirmed with @danfox01.

Source: https://www.baltimorecountymd.gov/Agencies/economicdev/business/index.html

[2017-11-29 13:55] martypowell commented on #157
https://codepen.io/martypowell/pen/eePaLG?editors=1100

[2017-11-29 14:42] martypowell commented on #48
closing, as no one is pushing this. Most test plans are documented in automated tests at this point.

[2017-11-29 14:50] martypowell commented on #35
@danfox01 sent a request via email to you and @sdurphy to update the file since I didn't have rights.

[2017-11-29 15:28] sdurphy commented on #35
Fix verified. Closing.

[2017-11-29 15:28] #35 closed

[2017-11-29 15:51] martypowell commented on #44
@sdurphy @snydercreative @danfox01 does anyone know what happened with this?

[2017-11-29 17:37] danfox01 opened #160 "Entering a trailing space in site search returns no results"
We've noticed that some valid search terms are returning a blank results page. In these cases, we've also noticed a trailing "+" in the URL query string.

For example:

- Results: https://www.baltimorecountymd.gov/search/results.html?q=subscribe

- No results: https://www.baltimorecountymd.gov/search/results.html?q=subscribe+

It appears that whenever a trailing + appears in the query string, no r

[2017-11-29 18:27] martypowell commented on #43
Filter to use: https://www.baltimorecountymd.gov/infofor/residents.html
Max Number of Popular Services should be 6

[2017-11-30 13:50] #121 closed

[2017-11-30 13:57] #40 closed

[2017-11-30 16:09] martypowell opened #163 "Contact Page using wrong Filter Control"
Contact Page - https://baltimorecountymd.gov/iwant/contact.html using old control, should look like https://www.baltimorecountymd.gov/iwant/apply.html.

[2017-11-30 16:12] martypowell commented on #157
fixed in #161

[2017-11-30 16:12] #157 closed

[2017-11-30 16:18] martypowell commented on #42
@mxsnyder why was this reopened?

[2017-11-30 16:30] martypowell commented on #163
And this page, https://dev.baltimorecountymd.gov/Agencies/index.html

[2017-11-30 16:36] martypowell commented on #44
This is integrated into the master branch, not sure why this wasn't closed.

[2017-11-30 16:36] #44 closed

[2017-11-30 18:22] martypowell commented on #163
Pages updated with new filter 11/30/2017 ~1:15PM

[2017-11-30 19:21] martypowell commented on #163
closed with #162

[2017-11-30 19:21] #163 closed

[2017-11-30 20:07] martypowell commented on #156
@mxsnyder can you provide some details?

[2017-12-01 13:28] martypowell commented on #20
@sdurphy @danfox01 any updates on this?

[2017-12-01 13:35] mxsnyder commented on #156
Oh, this is done.

[2017-12-01 13:35] #156 closed

[2017-12-01 18:08] #160 closed

[2017-12-01 18:10] mxsnyder opened #165 "Animal issue determination shouldn't work off issue name"
https://github.com/baltimorecounty/baltimorecountymd.gov-assets/blob/82723302cae8cad7b1ad5b8632c9b244ed5bec5d/js/page-specific/baltcogo-app/BaltCoGoReporterCtrl.js#L229

[2017-12-01 20:00] mxsnyder commented on #165
Updated title; to reflect that we don't have to use the ID or issue name, we can just add a boolean in the JSON.

[2017-12-04 14:25] martypowell commented on #165
Resolved by #167

[2017-12-04 14:25] #165 closed

[2017-12-04 14:27] martypowell opened #168 "BaltcoGo - JSON files cached"
When there is a change to the data files  (.json), changes aren't always apparent due to caching.

[2017-12-04 14:28] martypowell opened #169 "BaltcoGo - Code Should be able to be released independent of .gov Assets"

[2017-12-04 15:15] mxsnyder commented on #42
Not a clue.

[2017-12-04 15:15] #42 closed

[2017-12-04 18:25] #105 closed

[2017-12-04 18:28] #119 closed

[2017-12-04 19:47] martypowell commented on #20
closing as css changes are implemented.  FYI, in the case that "Then the team must go into the specific page that includes the tables and adjust the percentage width of column headers in which they want to change." @danfox01 @sdurphy

[2017-12-04 19:47] #20 closed

[2017-12-05 18:10] martypowell opened #173 "Search does not return results when "/" is used in the search term"
Example search term spay/neuter. This is actually an autocomplete item.

[2017-12-05 18:33] martypowell commented on #173
Replaced "/" with "and" in the searchTerms.json.

[2017-12-06 14:06] martypowell commented on #173
Also appears to be a problem for
- &
- #

[2017-12-06 16:44] #173 closed

[2017-12-09 16:34] danfox01 opened #179 "Swiftype: Utilize "log_clickthrough" endpoint to track search term clickthroughs on .gov"
Swiftype can track clickthroughs for all search queries but we're not currently capturing that info in our BCG site search.

https://swiftype.com/documentation/analytics#recording_clickthroughs

[2017-12-11 13:21] martypowell opened #180 "Baltcogo - Update categories json to include a isWebsite flag"
Right now we are checking static text, and this caused an issue, because the text changed.

Like isAnimal, add isWebsite and make the appropriate changes.

[See here](https://github.com/baltimorecounty/baltimorecountymd.gov-assets/blob/integration/js/page-specific/baltcogo-app/BaltCoGoReporterCtrl.js#L262)

[2017-12-11 13:25] mxsnyder commented on #180
I recommend instead of isWebsite, using a flag like isLocationHidden, or isAutomaticLocation, since the location defaults to the court house.

[2017-12-11 15:30] martypowell commented on #180
@mxsnyder good point, I will use the existing ```requiresLocation``` flag

[2017-12-11 15:58] martypowell commented on #180
resolved with #183

[2017-12-11 15:58] #180 closed

[2017-12-11 21:00] martypowell opened #187 "BaltcoGo - Subcategory not required"
User can enter report without a subcategory. SubCategory is required.

[2017-12-12 12:51] martypowell commented on #187
Resolved with #185

[2017-12-12 12:51] #187 closed

[2017-12-13 16:14] martypowell commented on #41
to recreate type in a couple letters pretty fast, and you'll see the lag.

[2017-12-15 13:37] martypowell opened #188 "Autocomplete not working on the Homepage"

[2017-12-18 12:59] martypowell commented on #179
@mxsnyder what would we use as the **id** for this?

FYI, @danfox01

[2017-12-18 13:56] mxsnyder commented on #179
Each document in the results has both an “id” and “enternal_id” value. The “id” value should be fine. However, neither value is reflected in the web service results, so you’ll need to add it.

From: Marty Powell [mailto:notifications@github.com]
Sent: Monday, December 18, 2017 7:59 AM
To: baltimorecounty/baltimorecountymd.gov-assets <baltimorecountymd.gov-assets@noreply.github.com>
Cc: Michael Sny

[2017-12-19 19:38] martypowell opened #191 "Make constants better"
A problem I have had
- Had to update constants on page specific page which didn't require any template updates

Something that would be nice
- Toggle environment specific settings based on environment variable

[2017-12-21 14:29] martypowell commented on #179
resolved with release [v1.12](https://github.com/baltimorecounty/baltimorecountymd.gov-assets/releases/tag/v1.12)

[2017-12-21 14:29] #179 closed

[2017-12-21 15:09] martypowell commented on #188
resolved with [v1.11.3](https://github.com/baltimorecounty/baltimorecountymd.gov-assets/releases/tag/v1.11.3)

[2017-12-21 15:09] #188 closed

[2018-01-02 13:36] martypowell opened #198 "Copyright padding off."
![image](https://user-images.githubusercontent.com/1933400/34485341-0688c940-ef98-11e7-92ef-b4e310a1a2e2.png)

[2018-01-02 16:56] martypowell opened #199 "Inside pages on mobile search input close android keyboard repeatedly"
@danfox01 fyi.

[2018-01-02 17:04] danfox01 commented on #199
Good catch. Looks like it's just the search input, correct? I couldn't replicate the issue on forms, etc.

@martypowell or @mxsnyder, can you please fast track a fix for this?

[2018-01-02 18:05] martypowell commented on #199
@danfox01 I can hop on it

[2018-01-03 15:37] #199 closed

[2018-01-05 14:20] martypowell opened #204 "Margin Issue with Search on Inside Pages"
As found during the v1.14 release

[2018-01-05 17:00] martypowell commented on #204
fixed with https://github.com/baltimorecounty/baltimorecountymd.gov-assets/releases/tag/v1.14.1

[2018-01-05 17:00] #204 closed

[2018-01-05 19:12] martypowell opened #208 "No Search Message shown on the Contact Page"
https://www.baltimorecountymd.gov/iwant/contact.html

When typing  a filter that doesn't return, the no result message is thrown and in turn throws an error message

[2018-01-09 16:02] #198 closed

[2018-04-23 15:31] danfox01 opened #217 "Some request types need to fire a callout box with specific instructions, and prevent the user from going further in the app."
We need to add issue types to the BaltCoGo reporter that are not in the backend system. When these issues are selected, the user should immediately see a callout with instructions and be prevented from logging an issue.

For example:
1. Assume a user wants to report a broken water line, which is not a native BaltCoGo issue type.
1. The user selects "Broken Water Line" from the drop down menu.
1. A

[2018-04-30 12:46] danfox01 opened #218 "Change source account for BaltCoGo Twitter feed"
We have a custom page set up that displays recent Twitter and FB posts from BCG accounts. The customer would like to change the Twitter account to pull from https://twitter.com/@BACOemergency instead of the current https://twitter.com/BaltCoGov.

This will require a code update in the service, per Mike:

I have the TFS link highlighting the line that needs to be changed. Let em know when you're re

[2018-04-30 13:28] danfox01 opened #219 "Document BCG Services"
https://services.baltimorecountymd.gov

Related to https://github.com/baltimorecounty/BCPL-assets/issues/410

[2018-04-30 14:40] danfox01 opened #220 "Update Animal Services spay/neuter calculator with new grant changes"
https://www.baltimorecountymd.gov/Agencies/animalservices/spay-neuter.html

Spay/neuter calculator logic needs to be updated to reflect a grant change. I am still gathering the requirements and will post here when I have them.

[2018-05-02 18:28] martypowell opened #221 "Cleanup Library Feeds on services.baltimorecountymd.gov"
These are pointing to https://www.bcpl.info/blog/feed which no longer exists.

@danfox01 fyi

[2018-05-02 23:07] danfox01 opened #222 "Enable IP logging for BaltCoGo/CitySourced"
The CitySourced API allows IP addresses to be captured along with service requests, but we don't have it enabled on our end so the data isn't being passed through. We've been asked to enable it. I think we're looking to enable "OriginationIPAddress," but it's sometimes a guessing game with their API.

[2018-05-04 13:19] martypowell opened #223 "Add API Testing"

[2018-05-04 15:06] martypowell commented on #218
yep

[2018-05-04 15:09] #218 closed

[2018-05-07 14:03] martypowell commented on #219
@danfox01 this is available on tests services (shared link via email)

[2018-05-07 17:18] martypowell commented on #222
@danfox01 I will push this to test after our release meeting later today.

[2018-05-08 16:14] danfox01 commented on #222
@martypowell , ready for testing?

[2018-05-08 17:09] martypowell commented on #222
@danfox01 let me check after a couple of prs

[2018-05-11 12:32] danfox01 commented on #220
Thanks. Never heard back on requirements.

[2018-05-14 12:31] martypowell commented on #223
These still need some work but the initial add is done.

[2018-05-14 12:34] martypowell commented on #219
@danfox01 this is ready for release, we will need to continually be monitoring these for changes.

[2018-05-14 12:45] danfox01 commented on #222
@martypowell, where can this be tested?

[2018-05-14 12:46] danfox01 commented on #219
@martypowell, do we need need to be concerned about the error indicator at the bottom of the page?

[2018-05-14 13:33] martypowell commented on #222
http://testservices.bcpl.info/swagger/ui/index

[2018-05-14 14:14] martypowell commented on #222
https://dev.baltimorecountymd.gov/iwant/report.html?categoryID=1011065

[2018-05-14 14:51] martypowell commented on #222
https://dev.baltimorecountymd.gov/iwant/report.html?categoryID=1011065

[2018-05-14 14:56] danfox01 commented on #222
@martypowell, IPs aren't appearing in the test console where other KVPs would show.

![fireshot capture 079 - citysourced console - simplifying ci_ - https___console citysourced net_pa](https://user-images.githubusercontent.com/13049389/40005225-6c1db1aa-5765-11e8-9725-4a3f29140fb4.png)

[2018-05-14 15:25] martypowell commented on #219
on hold for #222

[2018-05-14 15:25] martypowell commented on #223
on hold for #222

[2018-05-16 17:45] martypowell commented on #221
this work is done, just waiting for other service changes.

[2018-05-17 12:42] danfox01 commented on #220
The west-side ZIP codes need to be removed from the calculator:
- 21228
- 21227
- 21244
- 21207

These previously triggered a free appointment at the SWAP clinic. Now, they should be treated as all other ZIPs that are eligible for the standard $20 appointment.

All other criteria (remaining ZIPs, pet types, and free appointments for public assistance) should stay as-is.

[2018-05-17 18:33] danfox01 commented on #220
Made these changes in DEV. @martypowell please let me know if you need me to do anything else for prod.

[2018-05-17 19:26] martypowell commented on #220
@danfox01 i will put these changes into staging first thing in the am, and share the link.

[2018-05-18 13:27] danfox01 commented on #220
@sdurphy moved to Prod. Looks good. @martypowell do you need to do anything else to finalize this or can I close?

[2018-05-18 13:46] martypowell commented on #220
@danfox01 go ahead and close

[2018-05-18 13:53] #220 closed

[2018-05-22 17:46] martypowell commented on #222
Per our convo earlier, you can test this in dev.

https://dev.baltimorecountymd.gov/iwant/report.html?categoryID=1011065

[2018-05-22 19:54] danfox01 commented on #222
@martypowell this looks good to me. Moving to Ready, but let's talk about the release plan when you have a moment.

[2018-05-24 12:05] martypowell opened #224 "Add Versioning to API"
Since the API is separate from assets, we need to maintain it's own versioning.

https://github.com/Microsoft/aspnet-api-versioning/wiki/How-to-Version-Your-Service

[2018-05-24 14:34] martypowell commented on #219
confirmed, not accessible outside county network.

[2018-05-24 14:34] #219 closed

[2018-05-24 14:34] #223 closed

[2018-05-24 14:35] martypowell commented on #221
confirmed, endpoints no longer exist

[2018-05-24 14:35] #221 closed

[2018-06-06 18:42] #222 closed

[2018-06-12 19:46] danfox01 opened #225 "Add additional issue types to BaltCoGo web app"
The following issue types need to be added to BaltCoGo:
- Building and Development (Electrical)
- Building and Development (Grading)
- Building and Development (Plumbing)

@martypowell, check in with me when you're ready to start this. A couple UX things to keep in mind:

- These three types are all top-level categories that integrate with Accela. That means that adding these will increase the num

[2018-06-13 15:55] martypowell commented on #225
@danfox01 Aren't these sub categories?

![image](https://user-images.githubusercontent.com/1933400/41362925-a46aba3c-6f00-11e8-88b3-05bce21bd7a0.png)

[2018-06-14 14:41] danfox01 commented on #225
@martypowell Annoyingly, they are not. Each of them is a top level request with a single sub-type, i.e.:
- Building and Development
  - Building without a permit
- Building and Development (Electrical)
  - Electrical work without a permit
- Building and Development (Grading)
  - Grading work without a permit
- Building and Development (Plumbing)
  - Plumbing work without a permit

They were config

[2018-06-14 16:04] martypowell commented on #225
Got it.

[2018-06-19 18:33] martypowell commented on #225
The app and data have been adjusted to handle the above request and is implemented in dev. However, we are unable to test because it appears the api in our test environment has been updated and no longer accepts our current request.

We have sent a couple questions to the vendor:
- Documentation for the new API
- If we can access the current api in our test environement

Front End Changes can be f

[2018-06-22 16:33] danfox01 opened #226 "Add option to display conditional text for issue types"
**Basic dev requirements:**

1. A callout box should appear inline on the first panel of the form as soon as an issue subtype is selected (see mockup below)
2. The text should be editable for every issue type via a JSON file.
3. If no value is specified for an issue type, the box should not appear. (This effectively makes the text an optional condition for each issue type).
4. The feature must wor

[2018-06-22 17:46] martypowell commented on #226
This is available in this [branch](https://github.com/baltimorecounty/baltimorecountymd.gov-assets/tree/add-note-for-sub-cat), there is just a bit more styling to be done and it needs moved to dev.

[2018-06-26 13:45] martypowell opened #227 "Fix some bugs (i use bugs loosely, we are skinning another vendor product, grrr) with Citizen Access css"

[2018-06-26 14:04] martypowell commented on #227
When you submit the pet information form below it doesn’t show you the data table and allow you to scroll. See below.

![image](https://user-images.githubusercontent.com/1933400/41917182-c175f30e-7927-11e8-82c9-1698ef1a1f2d.png)

![image](https://user-images.githubusercontent.com/1933400/41917227-d80dac60-7927-11e8-8625-a045c26c46cf.png)

This is the review screen and it allows you to scroll. Need

[2018-06-26 15:46] danfox01 commented on #226
@martypowellno rush but please redeploy to dev when you have a chance, since this got blown away in the refresh.

[2018-06-26 15:54] martypowell commented on #226
@danfox01 this is restored.

[2018-06-27 12:10] danfox01 commented on #225
@martypowell, I guess we didn’t hear anything back about this? Can you contact the vendor again? This was Joe’s top priority.

[2018-06-27 12:18] martypowell commented on #225
@danfox01 i think this goes through eric, sent an email to him and cc'd you.

[2018-06-27 12:34] martypowell commented on #227
![image](https://user-images.githubusercontent.com/1933400/41974059-d6318fe8-79e4-11e8-8507-74ffd9c37315.png)

[2018-06-27 14:11] martypowell commented on #226
A couple additional ui things:

- Use 20px as the top margin between the subcategory and the note
- Animate the display of the note
- When a user selects a link inside the note, the following should happen:
  - Prevent the default behavoir of the link
  - Update the browser history to match the subcategory id (ex: https://www.baltimorecountymd.gov/iwant/report.html?categoryID=1011065)
  - Restore

[2018-06-27 16:19] danfox01 commented on #226
@martypowell, fade effect looks good, but I would expect it to fade out/back in if an issue type is changed as well. It will draw more attention to the change. Is this possible?

Other UI changes look great.

[2018-06-27 16:32] danfox01 commented on #226
Also, unable to test this further due to the same report submission we saw in #225: <Error>DeviceType is a required field and was either not provided or entered incorrectly.</Error>

[2018-07-03 18:36] martypowell commented on #227
@jsmith176 matt dubin is testing this. Eric will let us know if it passed their eye test.

[2018-07-03 18:42] martypowell commented on #169
@danfox01 the new home is here, https://github.com/baltimorecounty/BaltCoGo

[2018-07-09 12:14] martypowell commented on #227
@jsmith176 closed per eric.

[2018-07-09 12:14] #227 closed

[2018-07-09 13:00] martypowell opened #231 "BaltCoGo Note Styling"
fyi @danfox01

On XS screens reduce the icon size to fa-lg and do .9em for the text, just to save a little bit of screen space

[2018-07-10 14:58] martypowell commented on #231
@danfox01 available in dev

https://dev.baltimorecountymd.gov/iwant/report.html

[2018-07-10 15:31] danfox01 commented on #231
Perfect

[2018-07-11 19:31] martypowell opened #234 "IE 11 Displaying BaltcoGo Note Improperly"
Screen becomes wider when the note has a lot of text.

[2018-07-11 19:31] martypowell commented on #234
resolved by hotfix #233

[2018-07-11 19:31] #234 closed

[2018-07-11 19:31] martypowell commented on #234
fyi @danfox01

[2018-07-13 20:22] danfox01 commented on #168
@martypowell, I don't think BaltCoGo JSON files are cached any more are they? This might be closeable?

[2018-08-13 13:28] martypowell commented on #168
@danfox01 this is still an issue.

[2018-08-13 18:52] martypowell opened #235 "BaltcoGo - Add ability to disable form on certain sub categories"
I talked to Eric today and he suggested we want to disable  or hide next prev buttons when a certain subcategory is selected. We should use this opportunity to finish this issue as well #169 . More details to follow.

[2018-08-13 19:52] etenney commented on #235
Please let me know if you need anything else.

[2018-08-21 12:28] martypowell opened #236 "Mobile - Baltimore County Public Wifi renders desktop view on mobil"
At least on an samsung galaxy edge, the page requires you to pan and zoom to get the buttons active.

[2018-08-21 15:08] danfox01 commented on #236
NSU is responsible for the wifi confirmation page. I believe Bob worked with Nick Root to set it up. I beleive Bob said the tool allowed no options for customization. If someone wants to look into that, please feel free but it's not a priority for me.

[2018-08-21 15:36] martypowell commented on #236
my only thing is this should be a super simple fix maybe. like a meta tag. I'll ask nick.

[2018-08-31 01:17] danfox01 opened #237 "Implement Google Custom Search on .Gov Site"

[2018-09-04 18:06] martypowell opened #238 "Smartbanner throwing errors"
A console errors is thrown on this page. https://www.baltimorecountymd.gov/iwant/apply.html

We do not want this error to show.

**Requirements**
- Remove the script from our site
- Remove the banner from these pages
  - https://www.baltimorecountymd.gov/iwant/report.html
  - https://www.baltimorecountymd.gov/Agencies/publicworks/solid_waste/collectionconnection.html

[2018-09-05 18:18] sdurphy opened #240 "Survey Monkey Survey Displaying multiple times when it shouldn't"
The HTML snippet for the survey monkey form is located on the Red Inside template. Some users are reporting that the survey is popping up multiple times during a session, which should not be the case.

[2018-09-05 18:33] jdomasky commented on #240
@sdurphy @martypowell I can confirm this is true. Julie and I have discussed this problem. It happens for me in different browsers on different PCs/devices. Sometimes it's so repetitious that I don't dismiss it and I end up browsing a page with the invitation in place.

[2018-09-05 18:54] danfox01 commented on #240
@sdurphy let's remove this since it's not working as expected. We should have tested it more thoroughly before releasing it. We can re-release when it's figured out.

[2018-09-05 19:01] sdurphy commented on #240
removed. thanks everyone

[2018-09-06 12:09] martypowell commented on #240
@sdurphy can we restore this in dev, so that we can test?

[2018-09-06 18:26] martypowell commented on #238
@danfox01 where are we using smartbanner. It looks like we are including it on every page, but based on that library we only want to include it on the pages that require it.

[2018-09-07 14:53] danfox01 commented on #238
@martypowell it should just be these two pages:

- https://www.baltimorecountymd.gov/iwant/report.html
- https://www.baltimorecountymd.gov/Agencies/publicworks/solid_waste/collectionconnection.html

[2018-09-07 14:59] danfox01 commented on #237
@martypowell, is it possible to somehow provide feedback to the user on what their search term was? Either by retaining the search term in the input box on the results page, or by adding a line before the results, like, "Results for **{search term}**"

I don't think this is is natively possible with the Google widget, so you'd need to get creative. It's a nice to have -- only worth the effort if i

[2018-09-07 15:42] martypowell commented on #237
@danfox01 available in dev.

[2018-09-07 18:30] danfox01 commented on #237
Looks good @martypowell

[2018-09-07 18:37] danfox01 opened #242 "[DEV] BCG Google search results sometimes fail to load"
I am almost certain this is the result of having the search box autocomplete and the results render on the same page. We had these issues last time we used Google search and had to disable autocomplete on the results page, which fixed the issue.

This does not occur every time, but seems much more prevalent in FF. To replicate:

- Conduct a search on any page in dev.
- If results render, run anoth

[2018-09-12 13:19] martypowell opened #243 "Search Results Display Funky Url"
Steps to recreate:

1. Search from the homepage
1. Note the url of the results page

This is probably a result of using the old search method, and probably should be replaced by the current implementation recommended by google (see the gsc console), which is implemented on the inside template.

fyi @danfox01

[2018-09-13 19:00] martypowell commented on #237
red-custom-index template needs reworked, all the changes have not been implemented properly and the hamburger menu does not work.

[2018-09-27 17:52] danfox01 commented on #237
@martypowell can I close this?

[2018-09-27 17:59] danfox01 commented on #237
Released in 1.16.

[2018-09-27 17:59] #237 closed

[2018-09-27 18:09] danfox01 commented on #242
Resolved in dev before release.

[2018-09-27 18:09] #242 closed

[2018-09-27 18:11] danfox01 commented on #240
Couldn't resolve this but we suspect it's an SE template issue. Closing, since the survey is now closed and the issue is moot.

[2018-09-27 18:11] #240 closed

[2018-10-17 17:38] jdomasky opened #246 "Revised date not displaying on pages"
The Revised date that always appeared below the content on each page is not displaying.

This issue may have started between the September 19 and 26 changes from Swiftype to Google Custom Search on the .gov and BCPL websites.

A browser inspection of a page reveals the Revised date in the mainContent div, but the .reviseddate class seems to be configured to display: none.

To reproduce the issue:

[2018-10-18 18:19] jdomasky commented on #246
My colleague, Julie, reminded me of a long-standing problem with the Revised date:
"The old auto revision date always looked like it had an extra space between 'Revised' and the date. This could be our chance to fix this issue."

[2018-11-05 15:49] martypowell commented on #246
@danfox01 resolved in #247

[2018-11-05 15:50] martypowell commented on #246
@danfox01 in production

[2018-11-05 15:57] danfox01 commented on #246
Perfect, thank you.

[2018-11-05 15:57] #246 closed

[2018-11-09 19:05] danfox01 opened #248 "Convert DPW “ReSource” Blog to Structured Content"
The tool was created using the SE blog application but should ideally use structured content, which requires a developer.

We need to revisit this for rebuild when front end development resources are available.

[2018-12-17 16:35] danfox01 opened #249 "BaltCoGo: Allow categories that are not in Citysourced"
This is a high-priority enhancement request to add functionality to the [BaltCoGo web front-end.
](https://www.baltimorecountymd.gov/iwant/report.html)
**Requirements**

- The application should allow addition of issue types and subtypes that are not in Citysourced. In other words, it should allow items to appear in the drop down list that have no Citysourced IDs and don't associate with a Citysou

[2018-12-17 16:42] martypowell commented on #249
New Id's should be in this format: `D00001`

[2018-12-17 16:50] danfox01 commented on #249
Example issue:

Top-Level Category:
- Water Supply Issues

Second-Level Categories:
- No or low water pressure
- Open, damaged or leaking hydrant
- Water meter cover missing or damaged

Alert text can be placeholder now.

[2018-12-17 20:47] tmccoy529 commented on #249
@danfox01 This example of Water Supply Issues, are you saying this needs to be the top most drop down item or were you just saying this is the top level of the new item and these are the sub levels to it but it should still appear in the list in alphabetical order?

[2018-12-17 20:50] danfox01 commented on #249
@tmccoy529 Sorry, good question. This just indicates the addition of a new top level category with a few secondary items below it. The Water Issues category itself should be in alpha order in the main list.

In other words, it's the second thing you said.

[2018-12-17 20:52] tmccoy529 commented on #249
@danfox01 will do, thanks Dan

[2018-12-21 14:55] tmccoy529 commented on #249
@danfox01 I have added changes to hide the top tabs, description box and next button when one of these options is selected. We will have to update the readme as there is a way now to disable the form by adding a value of shouldDisableForm to a category now.

[2018-12-21 15:04] danfox01 commented on #249
Fantastic. Am I good to begin testing in dev?

[2018-12-21 15:05] tmccoy529 commented on #249
Yes its in dev at the moment.

[2018-12-26 18:48] danfox01 opened #251 "Update Baltimore County Now blog to utilize SE structured content"
The blog was built around the previous administration's goals and business process, and included some hacks that were required in previous versions of SE.

This enhancement is to evaluate the near-term goals (0-6 months out) of Communications Office staff and re-implement the tool in a way that is more intuitive and user friendly for both the public and employees to use. Far-term goals should also

[2018-12-27 13:47] tmccoy529 commented on #249
@danfox01 So the URL is looking for an integer but our new dummy ID's are strings and so this wont work. However, I'm looking into whether or not we need to check if its an integer or not. Doesn't really seem to be needed so hoping its an easy enough fix.

[2018-12-27 15:53] tmccoy529 commented on #249
@jdomasky @danfox01 this is back out in dev with updates to handle the new ID's

[2018-12-27 16:48] danfox01 commented on #249
Thanks @tmccoy529!

@jdomasky, please run through the test plan for the dummy ID's once more and verify the queries are working as expected. I also updates the notes so they are unique to each issue type -- you can verify that they update when issues are changed. Thanks!

[2018-12-27 16:54] jdomasky commented on #249
OK! Will retest today, shortly.

[2018-12-27 18:59] jdomasky commented on #249
@tmccoy529 I completed the additional testing in dev, as requested. I retested the Water Supply Issue IDs again in IE11 and Chrome, and verified that direct linking via URL query is working now. Thanks to @danfox01's custom notes, I verified the conditional notes are updating when the Water Supply Issue subcategory is changed (when the form is disabled).

[2018-12-27 19:17] tmccoy529 commented on #217
@danfox01 I'm looking through some of these enhancements and this one appears to be a duplicate of #249 that we just worked on.

Its slightly different but with the fix for 249 all these requirements should be met for this one as well.

[2018-12-27 19:38] danfox01 commented on #217
Yeah, actually... I think there is a third issue floating around somewhere that @martypowell opened, that's also a duplicate of this. I'll close this one, since #249 will resolve this.

[2018-12-27 19:38] #217 closed

[2018-12-27 19:39] danfox01 commented on #235
Bingo. @martypowell and @tmccoy529, closing this. Duplicate of #249

[2018-12-27 19:39] #235 closed

[2018-12-27 19:40] danfox01 commented on #249
@tmccoy529 and @martypowell, this looks good to go. You think we can release this off hours next week? If so I will put in the change control.

[2018-12-27 19:55] martypowell commented on #249
@danfox01 any reason to not to do this during work hours?

[2018-12-27 20:01] danfox01 commented on #249
@martypowell, it's because we haven't touched this in a while and it's getting a lot of visibility from the Exec Office at the moment. Just keeping OIT's change control process in mind because of the affected customers if something goes wrong.

If you have a good reason to do it during work hours and you're confident, I am open to it.

[2018-12-27 20:09] danfox01 commented on #249
Chatted offline about this. We will release during business hours since this is more akin to continuous integration and low risk. Will also ensure better availability of resources for training and testing.

[2019-01-03 18:30] danfox01 commented on #168
@tmccoy529, I think this is what we want to tackle next, per a chat I had with @martypowell.

[2019-01-03 18:32] tmccoy529 commented on #168
@danfox01 @martypowell alright sounds good to me. I'll start looking into it.

[2019-01-03 18:51] danfox01 commented on #168
Thanks! I'm not sure what options we have, but a global solution for all our JSON files would be ideal. There are JSON issues on the BCPL site as well: https://github.com/baltimorecounty/BCPL-assets/issues/626.

Basically, wherever we're updating JSON, we have a need for the changes to show quickly without clearing cache.

[2019-01-07 13:15] martypowell commented on #168
Steps to Verify this task is completed

1. Verify that moving that when the constants file is moved out of the main javascript file that there is no behavior changes
1. Verify that you can update categories.json for the BaltcoGo App, and "bust the cache". This will mimic a common situation web services needs this change.
  1. Make changes to constants file
  1. Upload
  1. You should see the categ

[2019-01-07 16:11] theilman7 opened #255 "Add New Class For Sprite Sheet"
The CE wants to add an Instagram icon to his section on the home page and thus will require an update to the sprite sheet and CSS. In this case, I will just need a new class added to homepage.min.css. I have attached the CSS string I would like added below. I have also attached a link to preview what this will look like, mocked up in dev (see County Executive section social media icons, right side

[2019-01-07 16:46] martypowell commented on #255
this is in progress. @danfox01 sinec this is such a small change, i'd like to do it in the form of a hotfix and push asap.

[2019-01-09 16:22] danfox01 commented on #255
Released as HF 1.18.3

https://github.com/baltimorecounty/baltimorecountymd.gov-assets/releases/tag/1.18.3

[2019-01-09 16:22] #255 closed

[2019-01-10 14:24] danfox01 opened #258 "Update GIS addresslookup endpoint description in Swagger"
https://services.baltimorecountymd.gov/swagger/ui/index#!/GIS/AddressLookup_Get

The description for this endpoint should be something like:

Returns an array of values for a single address based on a Baltimore County GIS database query.

[2019-01-10 18:37] tmccoy529 commented on #168
@danfox01 this has been pushed to dev and is ready for testing

[2019-01-11 18:40] jdomasky commented on #168
OK, I'll test today and directly report the results to @danfox01 for triage. Ideally there won't be anything to report.

[2019-01-11 18:51] tmccoy529 commented on #168
Sure, its magic!!!!

Basically the constant.js file, which is what is used to pull in the categories.json file, wasn't always being loaded "new" through the browser because it was combined with other files that were previously cached. So the browser was looking at an old constants file with the json data inside. When you cleared your cache all those files were reloaded for the browser so the new c

[2019-01-11 19:16] danfox01 commented on #168
Sweet. I like it.

[2019-01-11 20:27] danfox01 commented on #168
@tmccoy529, Jason noticed that dev is using the IDs fir CitySourced prod. For testing, we should use the CitySourced stage IDs, which are in a separate JSON file... somewhere in Github. Should just be a file change but we can chat on Monday with Marty if you need a hand finding it.

[2019-01-14 13:07] tmccoy529 commented on #168
@danfox01 Oh that was probably my fault. I was testing changes and I must have moved the prod file over instead of the Dev file. I can move the dev over now.

[2019-01-14 20:44] danfox01 commented on #168
@jdomasky, try again with the staging issue types?

[2019-01-14 20:49] jdomasky commented on #168
OK @danfox01, I've made a note to test again first thing Tuesday morning.

[2019-01-14 20:57] danfox01 commented on #168
Thanks. Reminder to everyone that tomorrow is dev refresh day. @tmccoy529 we'll need you to please redeploy to dev afterward so we can finish testing.

[2019-01-15 14:39] jdomasky commented on #168
@danfox01 I'm ready to start testing when @tmccoy529 confirms that this has been pushed to dev again.

[2019-01-15 15:45] jdomasky commented on #168
@danfox01 @tmccoy529 I'll be available for testing after 1:00 today. I'll let you know when I start.

[2019-01-15 18:41] jdomasky commented on #168
@danfox01 Starting the BaltCoGo Test Plan now.

[2019-01-15 20:59] jdomasky commented on #168
@danfox01 @tmccoy529 The BaltCoGo Reporter in dev passed the Test Plan.

[2019-01-16 17:48] danfox01 commented on #168
Sweet, thanks! @tmccoy529, @martypowell when do we want to deploy in prod?

[2019-01-25 20:56] jdomasky commented on #238
I had an issue related to SmartBanner this week:

On January 23 around 1 p.m., I used IE 11 to browse http://staging.baltimorecountymd.gov/economicdev/jobconnectortoolkit.html

I clicked a PDF link on the page and it did not open in a new window, as it should. The PDF displayed in the IE 11 window using the Acrobat Pro PDF browser plugin.

I clicked the Back arrow and returned to the page. That is

[2019-01-25 21:43] danfox01 commented on #168
@tmccoy529 @martypowell -- let's try to get this one into prod early next week as week as well. let me know what you need from me to make that happen.

[2019-02-01 12:57] martypowell commented on #238
@jdomasky thanks, this has been bothering me for sometime, hopefully we can take a look soon.

@tmccoy529 @sgrg1

[2019-02-04 20:19] danfox01 commented on #168
@sdurphy, please work with Marty and Tim to make sure we can blow away the dynamic head in order to properly test this.

[2019-02-05 14:01] sdurphy commented on #168
@tmccoy529, are your changes in place on the following page?: https://dev.baltimorecountymd.gov/iwant/report.html

[2019-02-05 14:04] tmccoy529 commented on #168
@sdurphy I think since dev has been updated from prod, I'll need to update the headers again. Give me like 30 mins and Ill update them again.

[2019-02-05 21:01] sdurphy commented on #168
@tmccoy529, can you confirm that the following page is working properly now?: https://dev.baltimorecountymd.gov/iwant/report.html

[2019-02-06 13:34] martypowell commented on #168
@sdurphy @tmccoy529 i am seeing the constants file loaded on that page, so we are in business. Do you mind sharing what you did sam?

[2019-02-06 15:24] sdurphy commented on #168
@martypowell, @tmccoy529, here's what I did:

- Navigate to the folder containing the report page.
- Select the "Dynamic Style Sheet" tab.
- From the dropdown that appears select, "Templates Collection/Red-Inside".
- Select the remove substitution button.
- In the row for the head section select the blue View Information icon on the far right. This will display the default head section, and parent

[2019-02-14 23:36] danfox01 commented on #168
Closing the loop ...  is this good to go? I'm moving to Ready for Release -- let me know if it shouldn't be.

[2019-02-15 14:48] tmccoy529 commented on #168
@danfox01 I think this is fine to move now that the dynamic style sheet issue was resolved.

[2019-02-28 13:00] martypowell commented on #258
@tmccoy529 did we do this?

[2019-02-28 13:50] tmccoy529 commented on #258
@martypowell Testservices has been updated for the blog pinning so I'm sure this isn't out there anymore. Let me look through my branches and see where we are with that one.

[2019-02-28 14:02] martypowell commented on #258
@danfox01 @tmccoy529 as confirmed by tim, this is in integration and master, a different branch is pointing to test services, that's why it's not reflected in the swagger docs. Moved to ready for release.

[2019-03-25 18:25] martypowell opened #260 "Investigate CitySourced API 2.0 Reporter"

[2019-03-25 19:26] martypowell commented on #260
@tmccoy529 is working with the vendor to resolve an api issue.

@danfox01 fyi

[2019-03-26 12:20] martypowell opened #261 "Add Pet Weight to Lost and Adoptable Pets"
Per Eric's email

We are going to attempt to remove Eric from needing to this, and are gathering information about the request via email.

[2019-03-26 12:21] martypowell commented on #261
@tmccoy529 @sgrg1 this is a higher priority, we are still gathering info, and I'll talk to you guys once we have all of it.

[2019-03-26 19:06] martypowell commented on #261
Per Eric

max(decode(column_name,'Weight',attribute_value,'')) Weight,
max(decode(column_name,'Weight Units',attribute_value,'')) WeightUnits,

[2019-03-26 20:41] danfox01 commented on #168
@tmccoy529 @martypowell is this ready to go? Can potentially get it out the door this week, just to get it off the list?

[2019-03-27 01:25] martypowell commented on #168
i think this may be another victim of the dev refresh. @tmccoy529 I know we have a lot going on, lets talk about how we are looking for deliverables next week to see if we can integrate this (we could also put this in as a hotfix during the day potentially.

[2019-03-27 12:22] tmccoy529 commented on #168
@danfox01 @martypowell I would suggest this be a hot fix to be honest. Its 95% site executive updates. The PR for this has already been completed. The Constants.js file just needs to be copied over to BCPL and .Gov and then those templates (ex: BCPL-Blog, Red_Inside) need to have the reference added. I don't think this needs to wait for a release for that. Unless you all want to go one more round

[2019-03-27 13:12] martypowell commented on #168
@tmccoy529 I'm okay with this, it looks like the code hasn't been moved to master branch. Let me put in the "remove dist" pr on this repository and then we will look to move these changes to master. @danfox01 can we plan on making these changes tomorrow morning (3/28)?

[2019-03-27 17:07] martypowell commented on #260
@tmccoy529 this has been stated to be unblocked by the vendor via an email thread.

Please grab this when you get a chance.

FYI @danfox01

[2019-03-27 17:16] martypowell commented on #261
@tmccoy529 this is probably the top priority right now.

[2019-03-28 12:33] sgrg1 commented on #238
Issue fixed, waiting for it to move to dev environment

[2019-03-28 14:38] tmccoy529 commented on #238
@danfox01 This has been moved to dev for testing.

[2019-03-28 14:45] martypowell commented on #238
@sgrg1 this can be removed from the two pages listed above @danfox01 made the decision to remove this and that sounds like a delightful idea to me.

[2019-03-28 18:26] danfox01 commented on #261
@martypowell @tmccoy529 yes, that priority is correct. Animal Services just pinged me for a status. Sounds like they're getting anxious. Is a release next week possible?

[2019-03-28 18:39] martypowell commented on #261
yes, working on getting it into dev.

[2019-04-03 19:55] tmccoy529 opened #268 "Update Phone Directory"
The employee phone directory uses a manual process to update employee records. This hasn't been done in a few years. The process needs to be changed to import directly from AD for employee records. The DBA team has been tasked with creating a SQL Loader to pull this file in to keep the data current.

#### Known Issues:
- AD uses a different ID for Agency then we use in this project
- Our data does

[2019-04-04 15:15] martypowell commented on #268
@danfox01 tim is working on this, but he really isn't doing anything apart from serving as a poor man's analyst / project manager. The web service will remain the same, the database data is what is impacted.

[2019-04-05 12:37] martypowell commented on #261
confirmed with eric this is good, also tested myself

fyi @danfox01

[2019-04-05 12:37] #261 closed

[2019-04-10 15:28] martypowell commented on #258
@tmccoy529 well have to walk through this again, and figure out what went wrong.

[2019-04-10 15:50] martypowell commented on #168
@sdurphy will identify which pages contain dynamic stylesheets so that we can make this change.

fyi @danfox01 @sdurphy

[2019-04-10 16:41] sdurphy commented on #168
@martypowell it looks like the Dynamic Content tab is really not dynamic... I removed the substitutions for a folder in dev, added some CSS to the red inside template (and published) to test, and SE still would not update the section with the new CSS changes to the template. I'm testing more, but may have to reach out to systems to see if there's a way to batch reset dynamic content on folders.

[2019-04-10 17:01] sdurphy commented on #168
@martypowell I put in a ticket with Systems... and I should clarify its Dynamic Stylesheets, not Dynamic Content.

[2019-04-12 13:24] tmccoy529 commented on #268
@martypowell @danfox01 The update to this gem is that we have to wait for a manager to approve the wiping out of the data in prod to then dump in the new data. I mean this only became an issue because someone saw that the data was wrong and not up to date so lets make sure we go full circle to get someone to acknowledge that yes this is still an actual issue.

[2019-04-15 17:36] jdomasky opened #273 "Current Page Link Is Obscured in Site Search Results Pager"
https://dev.baltimorecountymd.gov/search/results.html?q=storm

**Current behavior:** Current page link in results pager is displayed as a dark block instead of a number. It has gray20 (#cccccc) as the background color.

**Expected behavior:** Current page link should have a transparent background color.

This issue can only be seen on the .gov dev site. It was temporarily resolved in prod by overr

[2019-04-15 17:49] martypowell commented on #273
@jdomasky please don't submit issues vs dev, i believe this is a result of @sdurphy testing.

[2019-04-15 17:53] danfox01 commented on #273
@martypowell The issue occurs in both prod and dev. The only place you can still see it is dev, because we added a line to the head section as a quick fix in prod.

[2019-04-15 17:53] martypowell commented on #273
ok @jdomasky and @danfox01 that makes sense, do you mind pointing us to the fix?

[2019-04-15 18:25] jdomasky commented on #273
@martypowell We added this CSS to the Properties tab in the HEAD section of results.html (in the /search folder in SE prod):

`<style type="text/css"> .gsc-cursor-current-page {background-color: transparent !important;} </style>`

It didn't override without !important.

[2019-04-15 18:32] martypowell commented on #273
perfect thanks @jdomasky

[2019-04-18 14:13] martypowell commented on #70
As discovered again, in our [1.18.5](https://github.com/baltimorecounty/baltimorecountymd.gov-assets/releases/tag/1.18.5). This is caused because the template events code is being duplicated on the homepage.

Specifically these lines https://github.com/baltimorecounty/baltimorecountymd.gov-assets/blob/integration/js/template-events.js#L16 and https://github.com/baltimorecounty/baltimorecountymd.go

[2019-04-18 14:21] martypowell commented on #238
@danfox01 the script has been removed as a result of 1.18.5. The banner still exists in production. on the pages identified in this thread. Do you want me to the banner from these pages?

[2019-04-18 15:09] danfox01 commented on #238
@martypowell thanks, if you don't mind, that's be fantastic.

[2019-04-18 15:14] danfox01 commented on #168
Released with 1.18.5

[2019-04-18 15:14] #168 closed

[2019-04-18 15:23] martypowell commented on #238
@danfox01 these pages have been updated, and i confirmed the banners are not showing in ios or android mobile browsers as tested on browserstack.

[2019-04-18 17:36] #238 closed

[2019-04-18 19:34] theilman7 opened #274 "Flickr API Issue on Homepage"
**Describe the bug**
The Flickr image gallery on the .gov homepage has broken images, stemming from the API.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit: https://www.baltimorecountymd.gov/index.html
2. View the "Photo Stream" photo gallery, just under the carousel.
3. The most recent images appear broken.

**Expected behavior**
All image thumbnails appear in the gallery .

**Deskto

[2019-04-19 11:50] martypowell commented on #274
Looked at the response from flickr and the three records that aren't showing have their farm data set to 66 as @theilman7  stated but I'm not sure what that even means (think maybe its related to a server farm where the photos live), and why 8 just happens to work. I'm guessing that is not something we set in flickr?

Found this from 2015, https://www.flickr.com/groups/51035612836@N01/discuss/7215

[2019-04-19 11:57] martypowell commented on #274
I reached out to flickr support on twitter, I'll update this thread if I hear anything back.

[2019-04-19 13:40] martypowell commented on #274
@danfox01 @theilman7 flickr got back to us and said this is an issue, their developers are aware and are actively working on a resolution.

[2019-04-22 18:31] jdomasky commented on #274
Hi! Today I've noticed the Flickr image gallery in dev seems to be working OK with farm66 thumbnails. Perhaps it's safe to restore the gallery in prod?
Dev home page: https://dev.baltimorecountymd.gov/index.html

[2019-04-22 18:34] sdurphy commented on #274
Looks like we are back in business. I can restore on prod.

[2019-05-08 12:56] danfox01 opened #275 "Move agency contact module styles from agency-homepage.css to inside-responsive.css"
### Problem
It appears the agency contact information module (appears on the left under the local nav of [some pages](https://www.baltimorecountymd.gov/Agencies/animalservices/index.html)) doesn't render correctly unless **agency-homepage.min.css** is included on the page. I just realized, we have been adding it manually via a stylesheet `<link>` in the `<head>` of every page where it's needed. As

[2019-05-08 13:00] danfox01 commented on #275
@theilman7, would this be a good one for you to tackle?

@sdurphy @martypowell FYI

[2019-05-08 14:10] theilman7 commented on #275
@danfox01 @sdurphy I can take a look at this.

[2019-05-08 15:44] theilman7 commented on #275
Initial inspection notes:

1. "Most Requested Services" section background color bleeding over is kind of a red flag to me (no pun intended) that something may not be correct with the markup of the "Contact" section. This becomes evident, when the <li> containing the divs are removed and the bleed ceases. The section/ module should stand on its own at a foundational level. Further testing reveals,

[2019-05-08 16:10] theilman7 commented on #275
@danfox01 @sdurphy

Update:
Removed stray div that opens on line 4 and closes on line 22. This corrects the spacing issue in the "Health Insurance Division" nav section on that page.
http://staging.baltimorecountymd.gov/benefits/index-test.html

[2019-05-09 16:11] #274 closed, assigned to nobody

[2019-05-10 18:52] danfox01 opened #277 "Departments page contains broken Mapquest links"
**Describe the bug**
Directions links on the BCG Departments page all point to mapquest, and are all broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.baltimorecountymd.gov/Agencies/
2. Click on "Directions" under the address in any row.
3. Enjoy a broken link to Mapquest.

**Expected behavior**
These links should be updated to point to Google Maps, our standard provi

[2019-05-10 19:45] danfox01 commented on #277
FYI @theilman7 @martypowell @sdurphy

[2019-05-10 20:22] danfox01 commented on #268
@tmccoy529 Purely out of curiosity, what ever happened to this?

[2019-05-13 12:17] tmccoy529 commented on #268
@danfox01 absolutely nothing so far. Apparently its a much more "difficult and complex situation" then previously thought. Instead of just importing the AD file into our table and updating our departments table with the department values from the new database there needs to be weeks and months and possibly years of analysis on why this might end up being a problem. I believe the DBA side is waitin

[2019-05-13 13:29] danfox01 opened #278 "Search input has incorrect layout on iPhone"
### Description
The search input on all BCG subpages has rounded corners on the left side on iOS devices. The search button and input also don't align.

###  To Reproduce
Steps to reproduce the behavior:
1. View any subpage on an iPhone.

### Expected behavior
All corner should be square (no radius). The input and button should be the same height.

### Screenshots

**Currently looks like:**

![iph

[2019-05-16 01:34] danfox01 commented on #275
@theilman7, did you have a chance to get with @martypowell after you latest comment on your PR (#276)? I think you were going to check with him on the best way to make the scss changes required for this, and open a new PR?

I also updated the name of this issue to reflect the correct style sheet.

[2019-07-12 11:47] martypowell opened #279 "Consolidate services to single api"
**Is your feature request related to a problem? Please describe.**
A list of services reside on a gis box, when they have issues it impacts unrelated data endpoints causing outages on the county website, when it doesn't need to be that way.

**Describe the solution you'd like**
Consolidate any services sitting on the gis box into the primary web service for baltimore county

**Describe alternative

[2019-07-12 11:47] martypowell commented on #279
@danfox01 fyi

[2020-06-11 17:02] martypowell opened #284 "Refactor Phone Directory Js"
- Move to it's own file
- Remove https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.1.min.js
- Add brackets to conditionals
- Remove any repeated code
- In this case I think its ok to favor jQuery over JS so feel free to update